<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-03-08T09:20:26Z</date>
	<key>WorkspacePath</key>
	<string>/Users/hyesu/Downloads/urdego_iOS/urdego.xcodeproj</string>
    <key>NSCameraUsageDescription</key>
    <string>이 앱은 카메라를 사용하여 사진을 촬영합니다.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>이 앱은 사진을 업로드하기 위해 갤러리에 접근합니다.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>이 앱은 사진을 저장하기 위해 갤러리에 접근합니다.</string>
</dict>
</plist>
